@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

:root {
  --color-light: linear-gradient(
    90deg,
    rgba(27, 26, 26, 1) 0%,
    rgba(54, 95, 143, 1) 100%
  );
}

* {
  transition: all 0.2s linear;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  display: block;
  background-image: var(--color-light);
  height: 100vh;
  width: 100%;
  overflow: auto;
}

img {
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  height: 25vh;
  width: 25vh;
}

.name {
  margin-top: 25px;
  font-family: "Source Code Pro", monospace;
  text-transform: none;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.flex-social-icons {
  display: flex;
  justify-content: center;
  margin-left: 50%;
  margin-top: 25px;
  height: 10px;
  width: 10px;
  column-gap: 25px;
}

.flex-social-icons:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.flex-social-icons icons i {
  height: 10px;
  width: 10px;
}

.myskills {
  font-family: "Source Code Pro", monospace;
  margin-top: 60px;
  text-transform: none;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
}
.skills {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.code img{
  height: 10vh;
  width: 10vh;
}

@media (max-width: 340px) {
  .name {
    display: flex;
    text-align: center;
  }
  .myskills {
    display: flex;
    text-align: center;
  }
}

@media (max-width: 275px) {
  .flex-social-icons {
    display: grid;
    gap: 20px;
    margin-bottom: 100%;
  }
}

@media (max-width: 1124px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
}